html,
body {
  background-color: grey;
  margin: 0;
}

.topnav {
  background-color: hotpink;
  text-align: center;
  min-height: 10vh;
}

.subnav {
  background-color: limegreen;
  text-align: center;
  min-height: 5vh;
}

.showcase {
  text-align: center;
  padding-top: 15px;
  color: white;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  background-image: url("../imgs/Blue.jpeg");
}

.banner {
  margin: 0;
}

/* Navi */
/* Add a background color to the top navigation */
.subnav {
  justify-content: space-between;
  background-color: whitesmoke;
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
  z-index: 1;
  width: 100%;
}

/* Style the links inside the navigation bar */
.subnav a {
  float: right;
  color: black;
  display: flex;
  font-size: 11pt;
  text-align: center;
  text-decoration: none;
}

.link-can,
.active {
  height: 25px;
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border-radius: 3px;
  border: 1px #302d30 solid;
}

.link-group {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding-right: 15px;
}

.root-link {
  height: 36px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Change the color of links on hover */
.subnav a:hover {
  background-color: #0c0c0c;
  border-radius: 3px;
  border: 1px #504e50 solid;
  color: darkgray;
}

.subnav a.root-link:hover {
  background-color: #0c0c0c;
  border: none;
}

.logo-name {
  font-family: 'Sedgwick Ave Display', cursive;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-name:hover {
  font-size: 15pt;
  color: royalblue;
}

.link-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a color to the active/current link */
.subnav a.active {
  background-color: #707070;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subnav .root-link {
  float: left;
  position: relative;
}