html, body {
  font-family: 'Acme', sans-serif;
  background-color: #8f9a98;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  font-size: 11pt;
}

/* Add a background color to the top navigation */
.topnav {
  justify-content: space-between;
  background-color: #6a7876;
  border-bottom: 1px #555 solid;
  border-radius: 2px;
  flex-wrap: wrap;
  position: fixed;
  overflow: hidden;
  display: flex;
  width: 100%;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  display: flex;
  font-size: 11pt;
  text-align: center;
  text-decoration: none;
}

.link-can, .active {
  height: 25px;
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border-radius: 3px;
  border: 1px #555 solid;
}

.link-group {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding-right: 15px;
}

.root-link {
  height: 36px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #586765;
  border-radius: 3px;
  border: 1px #555 solid;
  color: #564547;
}

.topnav a.root-link:hover {
  background-color: #6a7876;
  color: #564547;
  font-size: 13pt;
  border: none;
}

.logo-name {
  font-family: 'Sedgwick Ave Display', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #8a9291;
  color: #313d3c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav .root-link {
  float: left;
  position: relative;
}

.main-header {
  padding: 114px 0px 30px 0px;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 30pt;
  font-weight: 300;
  font-family: 'Croissant One', cursive;
  text-shadow: 4px 4px 5px rgba(85, 85, 85, 0.712);
  border-bottom: 1px #555 solid;
  background-color: #a2abaa;
}

#musica {
  text-align: left;
  color: whitesmoke;
  background-image: url("../imgs/music/banner.jpg");
  background-position-x: -21px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 0px 234px 42px;
}

.sub-header {
  margin-top: 10px;
  padding-top: 7px;
  margin-bottom: 10px;
  font-size: 15pt;
  text-shadow: 4px 4px 5px rgba(85, 85, 85, 0.712);
}

.content {
 display: inline-block;
 width: 100%;
}

.interest-content {
  margin: auto;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 300px;
  padding-top: 75px;
 }

.hobbies {
  float: left;
  width: 75%;
  margin: 0 auto;
  min-height: 100vh;
}

.hobby, .hobby-info, .hobby-appeal, .hobby-goal {
  width: 85%;
  margin: 15px auto;
  display: flex;
  border-radius: 4px;
  border: 0.1em #555 solid;
  background-color: #a2abaa ;
  box-shadow: 3px 3px 3px 0px #666565;

}

.hobby {
  width: 49%;
}

.hobby-desc , .hobby-text { 
  font-size: 10pt;
}

/*Hobbies on the home page*/
.hobby-group{
  width: 80%;
  padding-left: 10px;
  padding-bottom: 10px;
}

.hobby-group-r {
  width: 60%;
  padding: 10px;
  border-left: 1px #555 solid;
}

.hobby-group-l {
  width: 60%;
  padding: 10px;
}

.hobby-tnail-r {
  width: 40%;
  border-left: 1px #555 solid;
}

.hobby-tnail-l {
  width: 40%;
}

.sidebar {
  background-color: #586765;
  border-radius: 8px;
  float: right;
  width: 25%;
}

.side-title {
  margin: 0;
  padding: 10px 0;
  font-size: 16pt;
  text-align: center;
  background-color: #455654;
  font-family: 'Pixelify Sans', cursive;
}

.sidebar-can {
  min-height: 100vh;
  margin-bottom: 0px;
}

.category {
  font-weight: 600;
  margin-top: 10px;
  padding: 0px 7px 10px 7px;
  border-bottom: 0.5px #555 solid;
}

li.cat-items {
  font-size: 11pt;
  margin: 0px;
  display: flex;
  width: 94%;
  padding: 15px 15px 5px 15px; 
  border-radius: 10px;
  border-bottom: 0.5px #555 solid;
}

li.cat-items a:hover {
  color: #564547;
  font-size: 14pt;
}

.cat-link {
  font-size: 9pt;
}

.track-can {
  background-color: #232b2a;
  border-top: 1px #555 solid;
  display: inline-block;
  margin-top: 0px;
}

#image-track {
  display: flex;
  gap: 2vmin;
  left: 7%;
  top: 45%;
  position: relative;
  user-select: none;
}

.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  border-radius: 5%;
  object-position: 100% center;
  box-shadow: 3px 3px 3px 3px #0a0a0a;
}

.tn-image {
  width: 100%;
  height: 100%;
}

/*
.image:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
*/

footer {
  display: inline-block;
  width: 100%;
  height: 300px;
  background: #65736c;
  font-family: 'Fuggles', cursive;
  border-top: 1px #555 solid;
  font-weight: 600;
  text-align: center;
  font-size: 10pt;
  padding-top: 10px;
  margin-top: -5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8f9a98;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}